<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Whole Fibonacci & Prime Number Checker</title>
</head>
<body>
<header>
    <h1>The Whole Fibonacci & Prime Number Checker</h1>
</header>
<div class="form">
    <form id="">
            <label for="number">Fibonacci Input: </label>
            <input type="number" id = "number" name="number">
            <button type="submit" id="button">Submit</button>
    </form>
    </div>
<ul id="list"></ul>
<footer>Eric Knapp 10473686</footer>
</body>
</html>