<div>
<h1 class="title">Show Finder</h1>
<p id="about">Search a name of a show and recieve a list of 10 results! <br> Or use an Id to search for your specific show of choice!</p>
<form action="/search" method="POST" class='searchForm'>
<div>
  <label for="name">Search</label>
		<input type="text" id="name" name="searchTerm"/>
    <button type="submit">Submit</button>
</div>
</form>
</div>