* {
	box-sizing: border-box;
}

html,
body {
	font-size: 16pt;
}

main {
	max-width: 75%;
	margin: auto;
}

body {
	background: whitesmoke;
	font-family: Courier New, monospace;
}

header {
	border-bottom: 1px solid #afafaf;
}

/* headings*/
h1{
  color: black;
	margin-bottom: 5px;
}
h2{
  color: black;
	margin-bottom: 5px;

}
h3{
  color: black;
	margin-bottom: 5px;
}

.title{
  text-decoration: underline;
}


.searchForm{
  border: 1cm;
  font-size: 5mm;
}

.searchText{
  text-decoration: underline;
}

.detailTitles{
font-weight: bold;
}

.diffSearch{
  position: right ;
}

.image{
  /* border: 2mm; */
  /* border-style: groove; */
  /* border-width: 1cm; */
  width: auto;
  length: auto;
  size: 25;
}

