html{
    background-color: rgb(53, 50, 50); 
}

h1{
    text-decoration: underline;
    color: wheat;
    font-size: 30pt;
    text-align: center;
}

body{
    color: wheat;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
  }

.logout{
    color:whitesmoke;
  }

.login{
    color:whitesmoke;
  }

.enterUser{
  /* padding-left: .5in; */
  /* padding-top: 1in; */
  /* padding-right: 1in; */
  font-weight: bold;
  size: 12px;
}

.enterPassword{
  /* align-self: left;
  padding-left: .5in;
  padding-top: 1in; */
  font-weight: bold;
  size: 12px;
 
}

/* .white{
  color:whitesmoke
} */
